.welcome-card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 450px; /* deixar em % depois */
    height: 100px; /* deixar em % depois */
    margin: 0.5rem;
    background-color: var(--card-color);

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

p.welcome-message {
    font-size: 1.2rem;
    text-align: left;
    margin-right: 5%;
}

span.highlight-text {
    font-size: 1.3rem!important;
}

.saludation-svg {
    width: 190px;
    height: 190px;
    margin-bottom: 9%;
}

.placing {
    font-weight: 700;
}

.info .card-info {
    margin-bottom: -15px;
}

.summary-container {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.summary {
    display: flex;
    /* checar se deixo com ou sem borda */
    /* border: solid 2px var(--font-color);  */
    /* background-color: var(--card-color); */
    border-radius: 8px;
    width: 40%;
    justify-content: center;
    padding-top: 5px;

    font-size: 1.5rem;
}

.summary-container .info {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}

/* .summary-container .info:last-child {
    margin-right: -2rem;
} */

.summary-container .info .card-info {
    /* color: var(--details-color); */
    font-size: 1.6rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

.exam-link-container {
    width: 1300px;
    display: flex;
    justify-content: flex-end;
}

.exam.dashboard-link {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    box-shadow: none;
    background-color: var(--bg-color);

    position: relative; 
    display: inline-block; 
    text-decoration: none; 
    cursor: pointer; 
}

.exam.dashboard-link::after {
    content: ''; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0px; 
    width: 70%; 
    height: 3px; 

    background-color: var(--second-color); 
    transition: width 0.3s ease; 
}

.exam.dashboard-link:hover::after {
    width: 100%; 
}

