.profile-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.button.first-access {
    border: none;
    margin-bottom: 20px;
}

.form-profile, 
.user-info {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 2rem;
    margin-left: 0rem;
}

h2.saludation-hey {
    margin-right: 10%;
}

.saludation-svg.profile {
    margin-bottom: -20px;
}