.questions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%!important;
    align-items: flex-start; 
}

.question-area, .question-details-area {
    width: 100%; 
    flex-basis: 50%; 
    box-sizing: border-box; 
    /* margin-bottom: 2rem; */

    display: flex;
    flex-direction: column;
    align-items: start;
}

.question-details-area {
    flex-basis: 40%; 
}

.question-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative; 
}

.exam-selector {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.exam {
    padding: 5px 10px 5px 10px;
    margin: 0 10px 10px 0;
    box-shadow: 0 0 0 2px var(--font-color) inset;
    background-color: var(--card-color);
    border-radius: var(--items-radius);
}

.filter-icon {
    cursor: pointer;
    position: relative; 
    margin-top: -2px;
}

.dropdown {
    position: absolute;
    /* top: 45px;  */
    left: 20%; 
    background-color: var(--card-color);
    border-radius: var(--items-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
}


.dropdown-item {
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    color: var(--font-color);
    box-shadow: 0 0 0 1px var(--font-color) inset;
    border-radius: var(--items-radius);
}

.dropdown-item:hover {
    background-color: rgba(109, 169, 109, 20%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    width: 50%;
    margin-bottom: 20px;
}

.square {
    width: 65px;
    height: 65px;
    background-color: var(--card-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--items-radius);
    position: relative;
    box-shadow: none;
    font-size: 1.4rem;
}

.subject {
    position: absolute;
    bottom: 2px;
    left: 5px;
    font-size: 12px;
    font-weight: 700;
}

.first-letter {
    font-size: 14px;
    font-weight: 900;
}

.subject.correct {
    color: #5faa5f;
}

.subject.incorrect {
    color: #ff6767;
}

.square.correct {
    box-shadow: 0 0 0 1px #5faa5f inset;
}

.square.correct::after {
    color: #5faa5f;
}

.square.incorrect {
    box-shadow: 0 0 0 1px #ff6767 inset;
}

.square.incorrect::after {
    color: #ff6767;
}

.square.correct:hover,
.square.correct.selected {
    background-color: rgba(109, 169, 109, 20%);
}

.square.incorrect:hover,
.square.incorrect.selected {
    background-color: rgba(255, 103, 103, 20%);
}

.toggle-square {
    background-color: #ddd;
    font-family: "Space Grotesk", sans-serif;
    color: var(--font-color); 
    background-color: var(--background-color);
}

.toggle-square::after {
    content: '';
}

.question-box-container {
    width: 100%;
}

.question-box {
    padding: 20px;
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    margin-top: 20px;
    font-size: 1.1em;
}

.question-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.question-body {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: -30px;
}

.question-img-container {
    width: 100%;
    text-align: center;
    /* margin-bottom: 2rem; */
}

.question-img-container.gabarito {
    margin-top: 10px;
}

.question-img {
    height: 100%;
    /* max-width: 500px; */
    width: 100%;
    /* max-height: 700px; */
}


.alternatives {
    margin-top: 20px;
}

.alternative {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.radio-alternative {
    display: flex;
    align-items: center;
    border-radius: var(--items-radius);
    padding: 0 5px 25px 10px; 
    height: 20px;
    background-color: var(--disabled-button-color);
    color: #fff;
    font-weight: 700;   
}

.radio-alternative.correct {
    background-color: #5faa5f; 
    font-weight: 700;
    color: #fff;
}

.radio-alternative.wrong {
    background-color: #ff6767; 
    font-weight: 700;
    color: #fff;
}

.alternative-input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.alternative-input:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--second-color); 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alternative label {
    font-size: 1.1rem;
    vertical-align: middle; 
    margin-left: 10px; 
    margin-top: 3px;
}

.radio-alternative .label-option {
    margin-left: -5px;
    margin-bottom: -25px;
    margin-right: 10px;
    font-family: "Space Grotesk", sans-serif;
}

.label-text {
    margin-bottom: 2px;
}


.question-sidebar-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.graph {
    width: 100%;
    position: block;
}

.question-sidebar-statistic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    width: 100%;
}

.question-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-overlay {
    margin-top: -40px;
    font-family: "Space Grotesk", sans-serif;
}

 .popup-content {
    font-family: "Space Grotesk", sans-serif;
    padding: 30px;
}

.close-popup-button {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 10px 0;
    box-shadow: 0 0 0 2px var(--font-color) inset;
    border: none;
    background-color: var(--card-color);
    border-radius: var(--items-radius);
    font-size: 1rem;
    cursor: pointer;
}

.close-popup-button:hover {
    background-color: rgba(255, 103, 103, 20%);
}

.exam.details {
    text-align: center;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 1.1rem;
    margin: 0.8rem;

    position: relative; 
    display: inline-block; 
    text-decoration: none; 
    cursor: pointer; 

    width: 65%;
}

.exam.details:hover,
.exam.details.active {
    background-color: rgba(109, 169, 109, 20%);
}

.exam.details.unavailable {
    background-color: #f0f0f0;
    color: #bdbdbd;
    box-shadow: 0 0 0 1px #bdbdbd inset;
    cursor: not-allowed;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start; 
}

.grid-container.collapsed {
    max-height: 0; 
    opacity: 0; 
}

.grid-container.expanded {
    max-height: 1000px; 
    opacity: 1; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    width: 60%; 
    margin-bottom: 20px;

    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* overflow: hidden; */
}



.question-sidebar {
    background-color: var(--card-color);
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content to the top */
    align-items: center;
    border-radius: var(--card-radius);
    margin-left: 5%; /* Optional: Add spacing to the left */
}


.question-box.collapsed {
    /* margin-top: -230px; */
}

.question-details-image img,
.question-details-video video,
.question-details-answer {
    /* width: 100%; */
    width: 400px;
    /* max-width: 500px; */
    /* margin-bottom: 2rem; */
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
}

.question-details-image img {
    width: 450px;
}

/* .square.correct {
    border: 2px solid green;
    color: green;
}

.square.incorrect {
    border: 2px solid red;
    color: red;
} */

.square.unavailable {
    background-color: #f0f0f0;
    color: #bdbdbd;
    box-shadow: 0 0 0 1px #bdbdbd inset;
    pointer-events: none;
}

.camera-icon {
    position: absolute;
    top: -2px;
    right: 3px;
}

.camera-icon.correct {
    color: #5faa5f;
}

.camera-icon.incorrect {
    color: #ff6767;
}

p.comentario-gabarito {
    font-weight: 400;
    font-size: 1.2rem;
}

.anulada {
    background-color: #f0f0f0;
    color: #848484;
    box-shadow: 0 0 0 2px #bdbdbd inset!important;
    border: none;
}

.anulada span {
    color: #848484;
}

.anulada:hover {
    background-color: rgba(189, 189, 189, 0.4)!important;
}

.square.anulada.selected {
    background-color: rgba(189, 189, 189, 0.4)!important;
}

.active-filter {
    background-color: rgba(109, 169, 109, 20%);
    font-weight: bold;
    border-radius: 4px;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-size: 24px;
    z-index: 1000;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow-button:disabled {
    cursor: auto;
    opacity: 0;
}
