.info-card {
    border-radius: var(--card-radius);
    padding: 20px;
    text-align: center;
    width: 330px; 
    height: 100px; /* deixar em % depois */
    margin: 0.5rem;
    background-color: var(--card-color);

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.info-card-note {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: -20px;
}

.info-card-text {
    font-size: 1.1em;
}

.info-card .info {
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 10%;
}