/* Base card styles */
.card {
    border-radius: var(--card-radius);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 160px;
    margin: 0.5rem;
    background-color: var(--card-color)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3rem;
}

/* Hover effects with specific colors */
.card-humanas:hover {
    box-shadow: 0 0 0 4px #FF9800 inset;
}

.card-natureza:hover {
    box-shadow: 0 0 0 4px #4CAF50 inset;
}

.card-linguagens:hover {
    box-shadow: 0 0 0 4px #8E44AD inset;
}

.card-matematica:hover {
    box-shadow: 0 0 0 4px #E53935 inset;
}

.card-redacao:hover {
    /* box-shadow: 0 0 0 4px #336699 inset; */
    box-shadow: none;
}

/* Other existing styles remain unchanged */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-title {
    color: var(--font-color);
    margin-bottom: -20px;
    height: 35%;
    width: 100%;
    font-size: 0.8em;
}

.card-info {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}

.card-title, .card-info {
    margin: 8px 0;
    word-wrap: break-word;
}

.card-info {
    margin-top: 0px;
}

.card.unavailable {
    background-color: #f0f0f0!important;
    color: #bdbdbd;
    box-shadow: none;
}
