.ranking-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.ranking {
    width: 50%;
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    margin: 0 2rem 0 0;
}

.ranking-image-container {
    display: flex;
    justify-content: center;
}

img.ranking-image {    
    width: 100%;
}

.rank-data {
    width: 40%;
    /* margin-bottom: 20%; */
    /* margin-top: -9%; */
}

.exam-rank {
    width: 70%;
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 2rem;

    height: 110px;
}

.prova-rank p {
    color: var(--details-color);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
}

.nota-rank p {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 10px;
}

.posicao-rank p {
    margin-top: -30px;
    font-size: 1.1rem;
}

.divide-line {
    width: 95%!important;
    border-radius: var(--items-radius);
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--details-color);
    height: 2px;
}

.ranking-line {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ranking-details {
    width: 100%;
    /* margin-left: 5%; */
}

.ranking-entry {
    width: 100%;
    max-width: 800px;
    background-color: #e5e5e5;
    border-radius: 20px;
    border: solid 2px #cecece;
    display: flex;
    align-items: center;
    padding: 0px;
    /* gap: 20px; */
}

.ranking-entry {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0;
}

.posicao-circle {
    width: 32px;
    height: 32px;
    background-color: #75c4c8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    margin-right: 5px;
}

.rank-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -5px;
    margin-bottom: -5px;
}

.nome {
    /* font-weight: bold; */
    font-size: 0.9rem;
    margin-left: 1px;
    /* margin-bottom: 5px; */
}

.rank-values {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #333;
}

.rank-values:last-child {
    padding-right: 50px;
}