/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './main_styling.css';


html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    background-color: var(--background-color);
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Space Grotesk", sans-serif;
}


html, body, #root {
    overflow: hidden; 
}

.content {
    overflow-y: auto; 
    height: 100vh; 
}


@media only screen and (max-width: 1500px) {
    html, body, #root {
        transform: scale(0.9); 
        transform-origin: top left;
        width: 111.11%; 
        height: 111.11%;
        overflow-x: hidden;
    }
}



.highlight-text {
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-left: 5.5rem;
    font-family: "Space Grotesk", sans-serif;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.page-container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menu content";
    height: 100%;
    width: 100%;
}

.content {
    grid-area: content;
    padding: 20px;
    width: 100%; 
    height: 100%;
    margin-left: -2%; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.content.questions {
    display: block;
}

.icon-container {
    /* background-color: #fff; */
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--second-color);
}

/* iPad Pro visualização horizontal */
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .page-container {
        position: relative; 
        overflow: hidden; 
    }

    .content,
    .ranking-container {
        transform: scale(1.2);
        transform-origin: top left; 
        width: calc(100% / 1.2); 
        height: calc(100% / 1.2); 
    }

    .content.questions {
        transform: scale(1.1);
        transform-origin: top left; 
        width: calc(100% / 1.1); 
        height: calc(100% / 1.1); 
    }

    .exam-history-container {
        transform: scale(1.4);
        transform-origin: top left; 
        width: calc(100% / 1.4); 
        height: calc(100% / 1.4);

        margin-top: 25%;
        margin-left: 50px;
    }

    .ranking-container {
        margin-top: -10%;
    }

    .exam-history {
        margin-left: -45%!important;
    }


    .sidebar-icon {
        font-size: 55px!important;
        margin-bottom: 4rem;
    }

    .logout-icon {
        font-size: 55px!important;
    }

    .logo-image {
        width: 120px;
    }

    .result-text {
        font-size: 1.3rem;
    }

    .exam.dashboard-link {
        font-size: 1.2rem;
    }

    .ranking {
        margin-left: -16%!important;
    }

    .rank-data {
        width: 20%!important;
        margin-top: -200px;
    }


    .page-container {
        grid-template-columns: 220px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "menu content";
        height: 100%;
        width: 100%;
    }

    
}


/* iPad Pro 3rd Gen (Horizontal) */
/* @media only screen and (min-width: 2048px) and (max-width: 2732px) {
    .page-container {
        position: relative; 
        overflow: hidden; 
    }

    .content,
    .ranking-container {
        transform: scale(2);
        transform-origin: top left; 
        width: calc(100% / 2); 
        height: calc(100% / 2); 
    }

    .exam-history-container {
        transform: scale(1.4);
        transform-origin: top left; 
        width: calc(100% / 1.4); 
        height: calc(100% / 1.4);

        margin-top: -25%;
    }

    .ranking-container {
        margin-top: -10%;
    }

    .exam-history {
        margin-left: -45%!important;
    }


    .sidebar-icon {
        font-size: 55px!important;
        margin-bottom: 4rem;
    }

    .logout-icon {
        font-size: 55px!important;
    }

    .logo-image {
        width: 120px;
    }

    .result-text {
        font-size: 1.3rem;
    }

    .exam.dashboard-link {
        font-size: 1.2rem;
    }

    .ranking {
        margin-left: -20%!important;
    }

    .rank-data {
        width: 20%!important;
    }


    .page-container {
        grid-template-columns: 220px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "menu content";
        height: 100%;
        width: 100%;
    }
} */