/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #f4f3ed;
    --sidebar-color: #5fbec4;
    --icon-color: #000;
    --card-color: #fff;
    --details-color: #5fbec4;
    --second-color: #362191;
    --font-color: #242828;
    --disabled-button-color: #e0e0e0;
    --card-radius: 10px;
    --items-radius: 5px;
    --card-hover: 0 0 0 3px #5fbec4 inset;
    /* font-sizes */
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    background-color: var(--background-color);
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Space Grotesk", sans-serif;
}


html, body, #root {
    overflow: hidden; 
}

.content {
    overflow-y: auto; 
    height: 100vh; 
}


@media only screen and (max-width: 1500px) {
    html, body, #root {
        transform: scale(0.9); 
        transform-origin: top left;
        width: 111.11%; 
        height: 111.11%;
        overflow-x: hidden;
    }
}



.highlight-text {
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-left: 5.5rem;
    font-family: "Space Grotesk", sans-serif;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.page-container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menu content";
    height: 100%;
    width: 100%;
}

.content {
    grid-area: content;
    padding: 20px;
    width: 100%; 
    height: 100%;
    margin-left: -2%; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.content.questions {
    display: block;
}

.icon-container {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--second-color);
}